:root {
  --container-width: 1200px;
  --font: "Helios", Arial, sans-serif;
  --blue: #75fbfd;
}

.carousel {
  position: relative;
  box-sizing: border-box;
}

.carousel *, .carousel *:before, .carousel *:after {
  box-sizing: inherit;
}

.carousel.is-draggable {
  cursor: move;
  cursor: grab;
}

.carousel.is-dragging {
  cursor: move;
  cursor: grabbing;
}

.carousel__viewport {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
}

.carousel__track {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.carousel__slide {
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: var(--carousel-slide-width, 60%);
  max-width: 100%;
  padding: 1rem;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-scroll-chaining: none;
      overscroll-behavior: contain;
}

.has-dots {
  margin-bottom: calc(0.5rem + 22px);
}

.carousel__dots {
  margin: 0 auto;
  padding: 0;
  position: absolute;
  top: calc(100% + 0.5rem);
  left: 0;
  right: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.carousel__dots .carousel__dot {
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.carousel__dots .carousel__dot:after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: currentColor;
  opacity: 0.25;
  transition: opacity 0.15s ease-in-out;
}

.carousel__dots .carousel__dot.is-selected:after {
  opacity: 1;
}

.carousel__button {
  width: var(--carousel-button-width, 48px);
  height: var(--carousel-button-height, 48px);
  padding: 0;
  border: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: all;
  cursor: pointer;
  color: var(--carousel-button-color, currentColor);
  background: var(--carousel-button-bg, transparent);
  border-radius: var(--carousel-button-border-radius, 50%);
  box-shadow: var(--carousel-button-shadow, none);
  transition: opacity 0.15s ease;
}

.carousel__button.is-prev, .carousel__button.is-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.carousel__button.is-prev {
  left: 10px;
}

.carousel__button.is-next {
  right: 10px;
}

.carousel__button[disabled] {
  cursor: default;
  opacity: 0.3;
}

.carousel__button svg {
  width: var(--carousel-button-svg-width, 50%);
  height: var(--carousel-button-svg-height, 50%);
  fill: none;
  stroke: currentColor;
  stroke-width: var(--carousel-button-svg-stroke-width, 1.5);
  stroke-linejoin: bevel;
  stroke-linecap: round;
  -webkit-filter: var(--carousel-button-svg-filter, none);
          filter: var(--carousel-button-svg-filter, none);
  pointer-events: none;
}

html.with-fancybox {
  scroll-behavior: auto;
}

body.compensate-for-scrollbar {
  overflow: hidden !important;
  -ms-touch-action: none;
      touch-action: none;
}

.fancybox__container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  direction: ltr;
  margin: 0;
  padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--fancybox-color, #fff);
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
  z-index: 1050;
  outline: none;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  --carousel-button-width: 48px;
  --carousel-button-height: 48px;
  --carousel-button-svg-width: 24px;
  --carousel-button-svg-height: 24px;
  --carousel-button-svg-stroke-width: 2.5;
  --carousel-button-svg-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.4));
}

.fancybox__container *, .fancybox__container *::before, .fancybox__container *::after {
  box-sizing: inherit;
}

.fancybox__container :focus {
  outline: none;
}

body:not(.is-using-mouse) .fancybox__container :focus {
  box-shadow: 0 0 0 1px #fff, 0 0 0 2px var(--fancybox-accent-color, rgba(1, 210, 232, 0.94));
}

@media all and (min-width: 1024px) {
  .fancybox__container {
    --carousel-button-width:48px;
    --carousel-button-height:48px;
    --carousel-button-svg-width:27px;
    --carousel-button-svg-height:27px;
  }
}
.fancybox__backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: var(--fancybox-bg, rgba(24, 24, 27, 0.92));
}

.fancybox__carousel {
  position: relative;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-height: 0;
  height: 100%;
  z-index: 10;
}

.fancybox__carousel.has-dots {
  margin-bottom: calc(0.5rem + 22px);
}

.fancybox__viewport {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: visible;
  cursor: default;
}

.fancybox__track {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.fancybox__slide {
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 48px 8px 8px 8px;
  position: relative;
  -ms-scroll-chaining: none;
      overscroll-behavior: contain;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  outline: 0;
  overflow: auto;
  --carousel-button-width: 36px;
  --carousel-button-height: 36px;
  --carousel-button-svg-width: 22px;
  --carousel-button-svg-height: 22px;
}

.fancybox__slide::before, .fancybox__slide::after {
  content: "";
  -webkit-flex: 0 0 0;
      -ms-flex: 0 0 0px;
          flex: 0 0 0;
  margin: auto;
}

@media all and (min-width: 1024px) {
  .fancybox__slide {
    padding: 64px 100px;
  }
}
.fancybox__content {
  margin: 0 env(safe-area-inset-right, 0px) 0 env(safe-area-inset-left, 0px);
  padding: 36px;
  color: var(--fancybox-content-color, #374151);
  background: var(--fancybox-content-bg, #fff);
  position: relative;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 20;
}

.fancybox__content :focus:not(.carousel__button.is-close) {
  outline: thin dotted;
  box-shadow: none;
}

.fancybox__caption {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
  max-width: 100%;
  margin: 0;
  padding: 1rem 0 0 0;
  line-height: 1.375;
  color: var(--fancybox-color, currentColor);
  visibility: visible;
  cursor: auto;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  overflow-wrap: anywhere;
}

.is-loading .fancybox__caption {
  visibility: hidden;
}

.fancybox__container > .carousel__dots {
  top: 100%;
  color: var(--fancybox-color, #fff);
}

.fancybox__nav .carousel__button {
  z-index: 40;
}

.fancybox__nav .carousel__button.is-next {
  right: 8px;
}

@media all and (min-width: 1024px) {
  .fancybox__nav .carousel__button.is-next {
    right: 40px;
  }
}
.fancybox__nav .carousel__button.is-prev {
  left: 8px;
}

@media all and (min-width: 1024px) {
  .fancybox__nav .carousel__button.is-prev {
    left: 40px;
  }
}
.carousel__button.is-close {
  position: absolute;
  top: 8px;
  right: 8px;
  top: calc(env(safe-area-inset-top, 0px) + 8px);
  right: calc(env(safe-area-inset-right, 0px) + 8px);
  z-index: 40;
}

@media all and (min-width: 1024px) {
  .carousel__button.is-close {
    right: 40px;
  }
}
.fancybox__content > .carousel__button.is-close {
  position: absolute;
  top: -40px;
  right: 0;
  color: var(--fancybox-color, #fff);
}

.fancybox__no-click, .fancybox__no-click button {
  pointer-events: none;
}

.fancybox__spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  color: var(--fancybox-color, currentColor);
}

.fancybox__slide .fancybox__spinner {
  cursor: pointer;
  z-index: 1053;
}

.fancybox__spinner svg {
  -webkit-animation: fancybox-rotate 2s linear infinite;
          animation: fancybox-rotate 2s linear infinite;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
}

.fancybox__spinner svg circle {
  fill: none;
  stroke-width: 2.75;
  stroke-miterlimit: 10;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: fancybox-dash 1.5s ease-in-out infinite;
          animation: fancybox-dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: currentColor;
}

@-webkit-keyframes fancybox-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes fancybox-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes fancybox-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes fancybox-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
.fancybox__backdrop, .fancybox__caption, .fancybox__nav, .carousel__dots, .carousel__button.is-close {
  opacity: var(--fancybox-opacity, 1);
}

.fancybox__container.is-animated[aria-hidden=false] .fancybox__backdrop, .fancybox__container.is-animated[aria-hidden=false] .fancybox__caption, .fancybox__container.is-animated[aria-hidden=false] .fancybox__nav, .fancybox__container.is-animated[aria-hidden=false] .carousel__dots, .fancybox__container.is-animated[aria-hidden=false] .carousel__button.is-close {
  -webkit-animation: 0.15s ease backwards fancybox-fadeIn;
          animation: 0.15s ease backwards fancybox-fadeIn;
}

.fancybox__container.is-animated.is-closing .fancybox__backdrop, .fancybox__container.is-animated.is-closing .fancybox__caption, .fancybox__container.is-animated.is-closing .fancybox__nav, .fancybox__container.is-animated.is-closing .carousel__dots, .fancybox__container.is-animated.is-closing .carousel__button.is-close {
  -webkit-animation: 0.15s ease both fancybox-fadeOut;
          animation: 0.15s ease both fancybox-fadeOut;
}

.fancybox-fadeIn {
  -webkit-animation: 0.15s ease both fancybox-fadeIn;
          animation: 0.15s ease both fancybox-fadeIn;
}

.fancybox-fadeOut {
  -webkit-animation: 0.1s ease both fancybox-fadeOut;
          animation: 0.1s ease both fancybox-fadeOut;
}

.fancybox-zoomInUp {
  -webkit-animation: 0.2s ease both fancybox-zoomInUp;
          animation: 0.2s ease both fancybox-zoomInUp;
}

.fancybox-zoomOutDown {
  -webkit-animation: 0.15s ease both fancybox-zoomOutDown;
          animation: 0.15s ease both fancybox-zoomOutDown;
}

.fancybox-throwOutUp {
  -webkit-animation: 0.15s ease both fancybox-throwOutUp;
          animation: 0.15s ease both fancybox-throwOutUp;
}

.fancybox-throwOutDown {
  -webkit-animation: 0.15s ease both fancybox-throwOutDown;
          animation: 0.15s ease both fancybox-throwOutDown;
}

@-webkit-keyframes fancybox-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fancybox-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fancybox-fadeOut {
  to {
    opacity: 0;
  }
}
@keyframes fancybox-fadeOut {
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fancybox-zoomInUp {
  from {
    -webkit-transform: scale(0.97) translate3d(0, 16px, 0);
            transform: scale(0.97) translate3d(0, 16px, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1) translate3d(0, 0, 0);
            transform: scale(1) translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes fancybox-zoomInUp {
  from {
    -webkit-transform: scale(0.97) translate3d(0, 16px, 0);
            transform: scale(0.97) translate3d(0, 16px, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1) translate3d(0, 0, 0);
            transform: scale(1) translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes fancybox-zoomOutDown {
  to {
    -webkit-transform: scale(0.97) translate3d(0, 16px, 0);
            transform: scale(0.97) translate3d(0, 16px, 0);
    opacity: 0;
  }
}
@keyframes fancybox-zoomOutDown {
  to {
    -webkit-transform: scale(0.97) translate3d(0, 16px, 0);
            transform: scale(0.97) translate3d(0, 16px, 0);
    opacity: 0;
  }
}
@-webkit-keyframes fancybox-throwOutUp {
  to {
    -webkit-transform: translate3d(0, -30%, 0);
            transform: translate3d(0, -30%, 0);
    opacity: 0;
  }
}
@keyframes fancybox-throwOutUp {
  to {
    -webkit-transform: translate3d(0, -30%, 0);
            transform: translate3d(0, -30%, 0);
    opacity: 0;
  }
}
@-webkit-keyframes fancybox-throwOutDown {
  to {
    -webkit-transform: translate3d(0, 30%, 0);
            transform: translate3d(0, 30%, 0);
    opacity: 0;
  }
}
@keyframes fancybox-throwOutDown {
  to {
    -webkit-transform: translate3d(0, 30%, 0);
            transform: translate3d(0, 30%, 0);
    opacity: 0;
  }
}
.fancybox__carousel .carousel__slide {
  scrollbar-width: thin;
  scrollbar-color: #ccc rgba(255, 255, 255, 0.1);
}

.fancybox__carousel .carousel__slide::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.fancybox__carousel .carousel__slide::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
}

.fancybox__carousel .carousel__slide::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 2px;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
}

.fancybox__carousel.is-draggable .fancybox__slide, .fancybox__carousel.is-draggable .fancybox__slide .fancybox__content {
  cursor: move;
  cursor: grab;
}

.fancybox__carousel.is-dragging .fancybox__slide, .fancybox__carousel.is-dragging .fancybox__slide .fancybox__content {
  cursor: move;
  cursor: grabbing;
}

.fancybox__carousel .fancybox__slide .fancybox__content {
  cursor: auto;
}

.fancybox__carousel .fancybox__slide.can-zoom_in .fancybox__content {
  cursor: zoom-in;
}

.fancybox__carousel .fancybox__slide.can-zoom_out .fancybox__content {
  cursor: zoom-out;
}

.fancybox__carousel .fancybox__slide.is-draggable .fancybox__content {
  cursor: move;
  cursor: grab;
}

.fancybox__carousel .fancybox__slide.is-dragging .fancybox__content {
  cursor: move;
  cursor: grabbing;
}

.fancybox__image {
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: none;
}

.has-image .fancybox__content {
  padding: 0;
  background: transparent;
  min-height: 1px;
}

.is-closing .has-image .fancybox__content {
  overflow: visible;
}

.has-image[data-image-fit=contain] {
  overflow: visible;
  -ms-touch-action: none;
      touch-action: none;
}

.has-image[data-image-fit=contain] .fancybox__content {
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.has-image[data-image-fit=contain] .fancybox__image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.has-image[data-image-fit=contain-w] {
  overflow-x: hidden;
  overflow-y: auto;
}

.has-image[data-image-fit=contain-w] .fancybox__content {
  min-height: auto;
}

.has-image[data-image-fit=contain-w] .fancybox__image {
  max-width: 100%;
  height: auto;
}

.has-image[data-image-fit=cover] {
  overflow: visible;
  -ms-touch-action: none;
      touch-action: none;
}

.has-image[data-image-fit=cover] .fancybox__content {
  width: 100%;
  height: 100%;
}

.has-image[data-image-fit=cover] .fancybox__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fancybox__carousel .fancybox__slide.has-iframe .fancybox__content, .fancybox__carousel .fancybox__slide.has-map .fancybox__content, .fancybox__carousel .fancybox__slide.has-pdf .fancybox__content, .fancybox__carousel .fancybox__slide.has-video .fancybox__content, .fancybox__carousel .fancybox__slide.has-html5video .fancybox__content {
  max-width: 100%;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  min-height: 1px;
  overflow: visible;
}

.fancybox__carousel .fancybox__slide.has-iframe .fancybox__content, .fancybox__carousel .fancybox__slide.has-map .fancybox__content, .fancybox__carousel .fancybox__slide.has-pdf .fancybox__content {
  width: 100%;
  height: 80%;
}

.fancybox__carousel .fancybox__slide.has-video .fancybox__content, .fancybox__carousel .fancybox__slide.has-html5video .fancybox__content {
  width: 960px;
  height: 540px;
  max-width: 100%;
  max-height: 100%;
}

.fancybox__carousel .fancybox__slide.has-map .fancybox__content, .fancybox__carousel .fancybox__slide.has-pdf .fancybox__content, .fancybox__carousel .fancybox__slide.has-video .fancybox__content, .fancybox__carousel .fancybox__slide.has-html5video .fancybox__content {
  padding: 0;
  background: rgba(24, 24, 27, 0.9);
  color: #fff;
}

.fancybox__carousel .fancybox__slide.has-map .fancybox__content {
  background: #e5e3df;
}

.fancybox__html5video, .fancybox__iframe {
  border: 0;
  display: block;
  height: 100%;
  width: 100%;
  background: transparent;
}

.fancybox-placeholder {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.fancybox__thumbs {
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  position: relative;
  padding: 0px 3px;
  opacity: var(--fancybox-opacity, 1);
}

.fancybox__container.is-animated[aria-hidden=false] .fancybox__thumbs {
  -webkit-animation: 0.15s ease-in backwards fancybox-fadeIn;
          animation: 0.15s ease-in backwards fancybox-fadeIn;
}

.fancybox__container.is-animated.is-closing .fancybox__thumbs {
  opacity: 0;
}

.fancybox__thumbs .carousel__slide {
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: var(--fancybox-thumbs-width, 96px);
  margin: 0;
  padding: 8px 3px;
  box-sizing: content-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: visible;
  cursor: pointer;
}

.fancybox__thumbs .carousel__slide .fancybox__thumb::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-width: 5px;
  border-style: solid;
  border-color: var(--fancybox-accent-color, rgba(34, 213, 233, 0.96));
  opacity: 0;
  transition: opacity 0.15s ease;
  border-radius: var(--fancybox-thumbs-border-radius, 4px);
}

.fancybox__thumbs .carousel__slide.is-nav-selected .fancybox__thumb::after {
  opacity: 0.92;
}

.fancybox__thumbs .carousel__slide > * {
  pointer-events: none;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.fancybox__thumb {
  position: relative;
  width: 100%;
  padding-top: calc(100% / (var(--fancybox-thumbs-ratio, 1.5)));
  background-size: cover;
  background-position: center center;
  background-color: rgba(255, 255, 255, 0.1);
  background-repeat: no-repeat;
  border-radius: var(--fancybox-thumbs-border-radius, 4px);
}

.fancybox__toolbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.006) 8.1%, rgba(0, 0, 0, 0.021) 15.5%, rgba(0, 0, 0, 0.046) 22.5%, rgba(0, 0, 0, 0.077) 29%, rgba(0, 0, 0, 0.114) 35.3%, rgba(0, 0, 0, 0.155) 41.2%, rgba(0, 0, 0, 0.198) 47.1%, rgba(0, 0, 0, 0.242) 52.9%, rgba(0, 0, 0, 0.285) 58.8%, rgba(0, 0, 0, 0.326) 64.7%, rgba(0, 0, 0, 0.363) 71%, rgba(0, 0, 0, 0.394) 77.5%, rgba(0, 0, 0, 0.419) 84.5%, rgba(0, 0, 0, 0.434) 91.9%, rgba(0, 0, 0, 0.44) 100%);
  padding: 0;
  -ms-touch-action: none;
      touch-action: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  --carousel-button-svg-width: 20px;
  --carousel-button-svg-height: 20px;
  opacity: var(--fancybox-opacity, 1);
  text-shadow: var(--fancybox-toolbar-text-shadow, 1px 1px 1px rgba(0, 0, 0, 0.4));
}

@media all and (min-width: 1024px) {
  .fancybox__toolbar {
    padding: 8px;
  }
}
.fancybox__container.is-animated[aria-hidden=false] .fancybox__toolbar {
  -webkit-animation: 0.15s ease-in backwards fancybox-fadeIn;
          animation: 0.15s ease-in backwards fancybox-fadeIn;
}

.fancybox__container.is-animated.is-closing .fancybox__toolbar {
  opacity: 0;
}

.fancybox__toolbar__items {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.fancybox__toolbar__items--left {
  margin-right: auto;
}

.fancybox__toolbar__items--center {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.fancybox__toolbar__items--right {
  margin-left: auto;
}

@media (max-width: 640px) {
  .fancybox__toolbar__items--center:not(:last-child) {
    display: none;
  }
}
.fancybox__counter {
  min-width: 72px;
  padding: 0 10px;
  line-height: var(--carousel-button-height, 48px);
  text-align: center;
  font-size: 17px;
  font-variant-numeric: tabular-nums;
  -webkit-font-smoothing: subpixel-antialiased;
}

.fancybox__progress {
  background: var(--fancybox-accent-color, rgba(34, 213, 233, 0.96));
  height: 3px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0;
          transform-origin: 0;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-timing-function: linear;
  z-index: 30;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.fancybox__container:-ms-fullscreen::backdrop {
  opacity: 0;
}

.fancybox__container:fullscreen::backdrop {
  opacity: 0;
}

.fancybox__button--fullscreen g:nth-child(2) {
  display: none;
}

.fancybox__container:-ms-fullscreen .fancybox__button--fullscreen g:nth-child(1) {
  display: none;
}

.fancybox__container:fullscreen .fancybox__button--fullscreen g:nth-child(1) {
  display: none;
}

.fancybox__container:-ms-fullscreen .fancybox__button--fullscreen g:nth-child(2) {
  display: block;
}

.fancybox__container:fullscreen .fancybox__button--fullscreen g:nth-child(2) {
  display: block;
}

.fancybox__button--slideshow g:nth-child(2) {
  display: none;
}

.fancybox__container.has-slideshow .fancybox__button--slideshow g:nth-child(1) {
  display: none;
}

.fancybox__container.has-slideshow .fancybox__button--slideshow g:nth-child(2) {
  display: block;
}

*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, div, span {
  max-height: 5000em;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
  position: relative;
}

img {
  border: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #FFF inset;
}

@font-face {
  font-family: "Helios";
  src: url("../fonts/subset-Helios.woff2") format("woff2"), url("../fonts/subset-Helios.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: var(--font);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #FFF;
  background: #000;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: calc(var(--container-width) + 80px);
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
}
@media (max-width: 1024px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

label {
  cursor: pointer;
}

.input-text {
  display: inline-block;
  font-family: var(--font);
  font-size: 14px;
  line-height: 1.3;
  -webkit-appearance: none;
  border: 1px solid #666;
  padding: 5px 10px;
  overflow: visible;
}
.input-text::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.3;
  color: #A8A8A8;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.input-text:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.3;
  color: #A8A8A8;
  opacity: 1;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.input-text::placeholder {
  font-size: 14px;
  line-height: 1.3;
  color: #A8A8A8;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.input-text:focus {
  outline: none;
}
.input-text:focus::-webkit-input-placeholder {
  opacity: 0.5;
}
.input-text:focus:-ms-input-placeholder {
  opacity: 0.5;
}
.input-text:focus::placeholder {
  opacity: 0.5;
}
.input-text.error {
  border-color: red;
}

.style-checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  margin-bottom: 15px;
  font-size: 12px;
}
.style-checkbox input {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
}
.style-checkbox input:checked + span:after {
  opacity: 1;
}
.style-checkbox input.error + span:before {
  border-color: #cc0000;
}
.style-checkbox span {
  display: block;
  position: relative;
  padding-left: 30px;
}
.style-checkbox span:before {
  content: "";
  width: 20px;
  height: 20px;
  border: 2px solid #353434;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.3s ease;
}
.style-checkbox span:after {
  content: "";
  width: 20px;
  height: 20px;
  background: #353434;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.style-checkbox span a {
  color: #353434;
}

.style-check-ios {
  position: relative;
  display: block;
  margin-top: 0;
  cursor: pointer;
  font-size: 12px;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
@media (max-width: 680px) {
  .style-check-ios {
    font-size: 10px;
    margin-bottom: 15px;
  }
}
.style-check-ios input {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
}
.style-check-ios input:checked + span:before {
  background: #004dd8;
}
.style-check-ios input:checked + span:after {
  -webkit-transform: translate(20px, 0);
          transform: translate(20px, 0);
}
.style-check-ios input.error + span:before {
  box-shadow: 0 0 0 2px #ffabab, 0 2px 4px 0 rgba(123, 0, 0, 0.31);
  background: #ffe4e4;
}
.style-check-ios span {
  position: relative;
  display: block;
  padding-left: 50px;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: left;
  color: #000;
}
.style-check-ios span:before {
  content: "";
  width: 42px;
  height: 22px;
  border-radius: 21px;
  position: absolute;
  left: 0;
  top: 3px;
  transition: all 0.3s ease;
  background: #b4b4b4;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.style-check-ios span:after {
  content: "";
  position: absolute;
  left: 2px;
  top: 5px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #fff;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  z-index: 2;
}
.style-check-ios a {
  color: #004dd8;
  text-decoration: underline;
  transition: color 0.3s ease;
}
.style-check-ios a:hover {
  color: #fbac00;
}

.btn {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding: 0.8em 2.5em;
  font-size: 30px;
  font-family: var(--font);
  line-height: 1.3;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  border: 1px solid var(--blue);
  color: var(--blue);
  border-radius: 50px;
  box-shadow: 0 20px 30px 0 rgba(117, 251, 253, 0);
}
@media (max-width: 1550px) {
  .btn {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .btn {
    font-size: 20px;
    background: var(--blue);
    color: #000;
    box-shadow: 0 20px 30px 0 rgba(117, 251, 253, 0.2);
  }
}
.btn:hover, .btn:active {
  background: var(--blue);
  color: #000;
  box-shadow: 0 20px 30px 0 rgba(117, 251, 253, 0.2);
}
.btn:focus {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

:root {
  --fancybox-bg: rgba(0,0,0,0.8);
}

.modal {
  display: none;
  width: 500px;
  max-width: 100%;
}

.fancybox__carousel .fancybox__slide.has-iframe .fancybox__content {
  padding: 0;
}
.fancybox__carousel .fancybox__slide.has-video .fancybox__content {
  width: 1920px;
  height: 1080px;
}
.fancybox__carousel .fancybox__slide.has-inline {
  padding: 30px;
}
@media (max-width: 480px) {
  .fancybox__carousel .fancybox__slide.has-inline {
    padding: 15px;
  }
}
.fancybox__carousel .carousel__button.is-close {
  position: absolute;
  top: -10px;
  right: -10px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #f55e07;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  opacity: 1;
}
@media (max-width: 680px) {
  .fancybox__carousel .carousel__button.is-close {
    top: 5px;
    right: 5px;
  }
}
.fancybox__carousel .carousel__button.is-close:hover {
  background-color: #f53f07;
}
.fancybox__carousel .carousel__button.is-close:before, .fancybox__carousel .carousel__button.is-close:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -10px;
  width: 20px;
  height: 2px;
  background: #FFF;
  transition: all 0.3s ease;
  border-radius: 0;
}
.fancybox__carousel .carousel__button.is-close:hover:before, .fancybox__carousel .carousel__button.is-close:hover:after {
  background-color: #FFF;
}
.fancybox__carousel .carousel__button.is-close:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.fancybox__carousel .carousel__button.is-close:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.fancybox__carousel .carousel__button.is-close:focus {
  outline: none;
}
.fancybox__carousel .carousel__button.is-close:focus:before, .fancybox__carousel .carousel__button.is-close:focus:after {
  outline: none;
}
.fancybox__carousel .carousel__button.is-close svg {
  display: none;
}

section {
  --size: calc(1vw + 1vh);
}

.logo {
  width: calc(var(--size) * 9.4);
  max-width: 200px;
  height: auto;
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 10;
}
@media (max-width: 768px) {
  .logo {
    display: block;
    position: relative;
    margin: 0 auto;
    top: 0;
    width: 140px;
    margin-bottom: 50px;
  }
}

.stage {
  position: relative;
  height: 100vh;
  padding-top: 20px;
  --mouse-x: 0;
  --mouse-y: 0;
}
@media (max-width: 768px) {
  .stage {
    height: initial;
  }
}

.stage__main {
  position: relative;
}

.man {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 5;
  width: calc(var(--size) * 20.2);
  max-width: 407px;
  height: auto;
  pointer-events: none;
  -webkit-transform: translate3d(calc(var(--mouse-x) * -0.5), calc(var(--mouse-y) * -0.5), 0);
          transform: translate3d(calc(var(--mouse-x) * -0.5), calc(var(--mouse-y) * -0.5), 0);
  transition: all 3s cubic-bezier(0.05, 0.5, 0, 1);
  will-change: transform;
}
@media (max-width: 1550px) {
  .man {
    width: calc(var(--size) * 15.2);
  }
}
@media (max-width: 768px) {
  .man {
    width: 240px;
    max-width: 80%;
  }
}

.sign {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 2;
  pointer-events: none;
  width: calc(var(--size) * 20.2);
  max-width: 395px;
  height: auto;
  -webkit-transform: translate3d(calc(var(--mouse-x) * 0.2), calc(var(--mouse-y) * 0.2), 0);
          transform: translate3d(calc(var(--mouse-x) * 0.2), calc(var(--mouse-y) * 0.2), 0);
  transition: all 3s cubic-bezier(0.05, 0.5, 0, 1);
  will-change: transform;
}
@media (max-width: 1550px) {
  .sign {
    width: calc(var(--size) * 15.2);
  }
}
@media (max-width: 768px) {
  .sign {
    width: 240px;
    max-width: 80%;
  }
}

.stage__particles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  margin: auto;
  width: 60%;
  height: 100%;
}
@media (max-width: 768px) {
  .stage__particles {
    width: 100%;
  }
}

.stage__btn {
  text-align: center;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .stage__btn {
    margin-top: 60px;
    margin-bottom: 40px;
  }
}

.stage__link {
  position: absolute;
  z-index: 10;
  font-size: 30px;
  line-height: 1.25;
}
@media (max-width: 1550px) {
  .stage__link {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .stage__link {
    font-size: 18px;
  }
}
.stage__link span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease;
}
.stage__link:hover span {
  border-bottom: 1px solid white;
}

.stage__link--game {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3em;
  top: 100px;
  right: 140px;
}
@media (max-width: 1250px) {
  .stage__link--game {
    right: 80px;
  }
}
@media (max-width: 768px) {
  .stage__link--game {
    right: 10px;
    top: 80px;
  }
}

.stage__link--focus {
  text-align: right;
  top: 440px;
  right: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
@media (max-width: 1550px) {
  .stage__link--focus {
    top: 300px;
  }
}
@media (max-width: 768px) {
  .stage__link--focus {
    right: 10px;
    top: 430px;
  }
}

.stage_bottom {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 0.8em;
  line-height: 1.25;
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 25%;
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  padding-right: 26px;
  padding-bottom: 70px;
  text-align: right;
}
@media (max-width: 1550px) {
  .stage_bottom {
    padding-bottom: 24px;
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .stage_bottom {
    position: relative;
    width: 100%;
    border-right: 0px;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding-top: 30px;
    padding-right: 0;
    padding-bottom: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
  }
}
.stage_bottom a {
  color: rgba(255, 255, 255, 0.3);
  transition: color 0.3s ease;
}
.stage_bottom a:hover, .stage_bottom a:active {
  color: white;
}

.stage__pop {
  position: absolute;
  top: calc(100% + 90px);
  right: 0;
  width: 376px;
  color: #FFF;
  font-size: 14px;
  line-height: 1.25;
  background: #4d4d4b;
  padding: 15px;
  text-align: left;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate3d(0, -10px, 0);
          transform: translate3d(0, -10px, 0);
  transition: all 0.3s ease;
}
@media (max-width: 768px) {
  .stage__pop {
    top: initial;
    bottom: 0;
    font-size: 12px;
    max-width: calc(100vw - 60px);
    -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0);
  }
}
.stage__pop.active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  opacity: 1;
  visibility: visible;
}
.stage__pop:before {
  content: "";
  width: 100%;
  height: 77px;
  background: url(../img/pop-decor.png) center bottom no-repeat;
  background-size: auto 100%;
  position: absolute;
  bottom: calc(100% + 4px);
  left: 0;
}
.stage__pop ul {
  list-style: none;
}
.stage__pop ul li {
  position: relative;
  padding-left: 1.5em;
  margin-bottom: 0.5em;
}
.stage__pop ul li:last-child {
  margin-bottom: 0;
}
.stage__pop ul li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.3em;
  background: url(../img/play.svg) no-repeat;
  background-size: contain;
  width: 11px;
  height: 9px;
}