@mixin res($breakpoint) {
	@media #{inspect(map-get($breakpoints, $breakpoint))} {
		@content;
	}
}

/// Иоконка закрытия модальных окон в виде креста.
$full_cross_size: 36px;
$cross_size: 20px;
$cross_weight: 2px;
$cross_color: #FFF;
$cross-color--hover: #FFF;
$cross-bg-color: #f55e07;
$cross-bg-color--hover: #f53f07;

@mixin cross() {
	position: absolute;
	top: -10px;
	right: -10px;
	cursor: pointer;
	transition: all 0.3s ease;
	background-color: $cross-bg-color;
	width: $full_cross_size;
	height: $full_cross_size;
	border-radius: 50%;
	border: none;
	opacity: 1;

	@include res(s) {
		top: 5px;
		right: 5px;
	}

	&:hover {
		background-color: $cross-bg-color--hover;
	}

	&:before, &:after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: calc($cross_weight / -2);
		margin-left: calc($cross_size / -2);
		width: $cross_size;
		height: $cross_weight;
		background: $cross_color;
		transition: all 0.3s ease;
		border-radius: 0;
	}

	&:hover:before, &:hover:after {
		background-color: $cross-color--hover;
	}

	&:before {
		transform: rotate(-45deg);
	}

	&:after {
		transform: rotate(45deg);
	}

	&:focus {
		outline: none;

		&:before, &:after {
			outline: none;
		}
	}

	svg {
		display: none;
	}
}


//fix ro min() max() css functions
@function max($numbers...) {
	@return m#{a}x(#{$numbers})
}

@function min($numbers...) {
	@return m#{i}n(#{$numbers})
}