$breakpoints: ('xxl': (max-width: 1680px),
		'xl': (max-width: 1550px),
		'xls': (max-width: 1250px),
		'l': (max-width: 1024px),
		'm': (max-width: 768px),
		's': (max-width: 680px),
		'xs': (max-width: 480px),
		'xxs': (max-width: 375px),
	);

:root {
	--container-width: 1200px;
	--font: 'Helios', Arial, sans-serif;

	--blue: #75fbfd;
}